<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <form action="" method="GET">
      <label for="q">Name</label>
      <input id="q" type="text" placeholder="Type image name..." name="q">
      <br>
      <label for="offset">Offset</label>
      <input id="offset" type="text" placeholder="Offset" name="offset">
      <br>
      <label for="limit">Limit</label>
      <input id="limit" type="text" placeholder="Limit" name="limit">
      <br>
      <input id="submit-btn" type="submit" value="Submit">
    </form>
    <hr>
    <section id="gallery">
      <!-- This is where images will be rendered. -->
    </section>
    <script src="/static/js/script.js"></script>
  </body>
</html>